/* Tablet */
@media(max-width: 768px)
{
    body
    {
        background: #ADD8E6 !important;
        margin: 2px !important;
    }

    .holder{
        width: 650px !important;
        height: 36px;
    }

    .entry{
        width: 650px !important;
    }

    button{
        width: 185px !important;
        height: 63px !important;
        margin: 18px !important;
    }
    #entryHolder {
        color:white !important;
        width: 650px !important;
        height: 558px !important;
    }
}

/* Phone */
@media(max-width: 415px){

    body
    {
        background-image: none;
        background-color: #ADD8E6 !important;
        margin: 2px !important;
    }
    #app{
        margin: 5px !important;
        grid-auto-rows: 67px !important;
        grid-template-columns: 100% !important;
        grid-template-areas:
        "hd" 
        "zip"
        "code"
        "btn"
        "result" !important;
    }
    .headline{
        font-size: 16px !important;
        font-style: bold;
    } 
    button{
        font-size: small !important;
        width: 97px !important;
        height: 52px !important;
        margin: -4px !important
    }

    .holder.zip{
        margin-left: 119px;
    }

    .btn{
        margin-left: 151px;
        padding-top: 9px;
    }

    #entry {
        width: 360px !important;
        height: 421px !important;
    }

    label{
        font-size: 16px;
    }

    input{
        color:white;
        font-size: 16px;
        height: 36px;
    }

    .holder{
        width: 357px !important;
    }

    .entry{
        width: 357px !important;
        margin-left: 10px;
    }

    #entryHolder{
        width: 357px !important;
        font-size: 16px;
    }

    .title{
        font-size: 16px !important;
    }

}
