/* Tablet */
@media(max-width: 768px)
{
    body
    {
        background: royalblue !important;
        margin: 2px !important;
    }
    button{
        width: 185px !important;
        height: 63px !important;
        margin: 18px !important;
    }

    #entryHolder {
        width: 650px !important;
        height: 558px !important;
    }
}

/* Phone */
@media(max-width: 415px){

    body
    {
        background-image: none;
        background-color: green !important;
        margin: 2px !important;
    }
    #app{
        margin: 5px !important;
        grid-auto-rows: auto !important;
        grid-template-columns: 100% !important;
        grid-template-areas:
        "hd" 
        "zip"
        "code"
        "startDate" 
        "EndDate"
        "btn"
        "result" !important;
    }
    .headline{
        font-size: 16px !important;
        font-style: bold;
    } 
    button{
        font-size: small !important;
        width: 97px !important;
        height: 52px !important;
        margin: -4px !important
    }
    #entryHolder {
        width: 360px !important;
        height: 421px !important;
    }

    label{
        font-size: 16px;
    }

    input{
        color:white;
        font-size: 16px;
        height: 36px;
    }

}
